<div class="container-fluid">
    <div class="d-flex page__box p-3 mt-2 align-items-center">
      <h1 class="flex-grow-1">Courses</h1>
      <button mat-flat-button color="accent" (click)="openAddEditCourse()">ADD COURSES</button>
    </div>
  </div>

  <div class="main-body">
    <mat-form-field appearance="outline">
      <mat-label>Search Here..</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </mat-form-field>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
        <!-- id Column -->
        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element;index as i"> {{i + 1}} </td>
        </ng-container>
  
        <!-- Batch Column -->
        <ng-container matColumnDef="course">
          <th mat-header-cell *matHeaderCellDef> Courses </th>
          <td mat-cell *matCellDef="let element"> {{element.course}} </td>
        </ng-container>
  
        <!-- CreatedAt Column -->
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> CreatedAt </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt | date :"MMM dd, yyyy 'at' hh:mm a"}} </td>
        </ng-container>
  
        <!-- UpdatedAt Column -->
        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef> UpdatedAt </th>
          <td mat-cell *matCellDef="let element"> {{element.updatedAt | date :"MMM dd, yyyy 'at' hh:mm a"}} </td>
        </ng-container>
  
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="updateCourse(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteCourse(element._id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    </div>
  
  
  </div>