/* You can add global styles to this file, and also import other style files */
@import '/node_modules/bootstrap/dist/css/bootstrap.css';

/* @import 'node_modules/ngx-toastr/toastr.css'; */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* @import '~ngx-toastr/toastr';

@import '~ngx-toastr/toastr-bs4-alert'; */
