<mat-nav-list>
        <div class="logo py-4">
                <img src="/assets/hc.jpg" alt="commpany logo" style="width: 60%; height: 30%;" />
        </div>
        <mat-divider></mat-divider>
        <h2 matSubheader class="mt-2">APPLICATION</h2>
        <a mat-list-item routerLink="./dashboard" routerLinkActive="list-item-active"><mat-icon>dashboard
                </mat-icon> Dashboard</a>

        <a mat-list-item routerLink="./student-list" routerLinkActive="list-item-active"><mat-icon>account_circle
                </mat-icon> Student List</a>

        <a mat-list-item routerLink="./batches" routerLinkActive="list-item-active"><mat-icon>list_alt</mat-icon>
                Batches</a>
        <a mat-list-item routerLink="./courses" routerLinkActive="list-item-active"><mat-icon>chrome_reader_mode
                </mat-icon> Courses</a>

        <a mat-list-item routerLink="./setting" routerLinkActive="list-item-active"><mat-icon>settings</mat-icon>
                Setting</a>
</mat-nav-list>