:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  }
}

.logo {
    text-align: center;
    padding: 2.6rem 1rem;

    img {
        width: 10%;
    }
}

.mat-icon {
    vertical-align: center;
    margin-right: 1rem;
}

.mat-divider {
    border-top-width: 2px;
    border-color: white;
}

a.list-item-active{
  background-color: #f5f7fa ;
}
