<div style="width: 450px;">
<div mat-dialog-title>
    <h1>Batch</h1>
</div>
<form [formGroup]="batchForm" (ngSubmit)="onBatchSubmit()">
    <div mat-dialog-content class="content">
    <mat-form-field appearance="outline">
        <mat-label>Batch</mat-label>
        <input matInput type="text" placeholder="Enter the Batch" formControlName="batch" required>
    </mat-form-field>
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false" >Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
</div>
</form>
</div>
