
<div  class="login-container">
<div fxLayoutAlign="center center" fxFlexFill class="main">
    <mat-card  fxFlex="35">
        <mat-toolbar color="primary"><mat-card-title >Login</mat-card-title></mat-toolbar>
        <form [formGroup]="loginform" (ngSubmit)="Proceedlogin()" fxLayoutAlign="stretch" fxLayout="column"
            class="login-form">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="example@gmail.com">
                <mat-error *ngIf="f.email.hasError('email') && !f.email.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="f.email.hasError('required')">
                    Email is <i>required</i>
                  </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput  [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Enter the password">  
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" type="button" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>                 
                  <mat-error *ngIf="f.password.hasError('required')">
                    Password is <i> required</i>
                  </mat-error>
                  <!-- <mat-error *ngIf="f.password.hasError('required') && !f.password.hasError('minLength')">
                    Password should be atleast 6 characters
                  </mat-error> -->
            </mat-form-field>

            <button mat-raised-button color="accent" type="submit">Login</button>
        </form>
    </mat-card>
</div>


</div>