.login-form {
  padding: 40px;
}

.login-container {
  background-image: url('/assets/leaf.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main {
  padding: 20px;
  border-radius: 10px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  max-width: 400px; /* Adjust the maximum width as needed */
  width: 100%;
}

/* mat-card{
  background-image: url('/assets/sapiens.png');
  background-size: cover;
} */
