<div class="container-fluid">
  <div class="d-flex page__box p-3 mt-2 align-items-center">
    <h1 class="flex-grow-1">Student List</h1>
    <button mat-flat-button color="accent" (click)="openAddEditEmptyForm()">ADD STUDENT</button>
  </div>
</div>

<div class="main-body">
  <mat-form-field appearance="outline">
    <mat-label>Search here</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </mat-form-field>

  <div class="table-responsive table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- id Column -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element;index as i"> {{i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> Full Name </th>
        <td mat-cell *matCellDef="let element"> {{ getFullName(element) }} </td>
      </ng-container>

      <!-- firstname Column -->
      <!-- <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> FirstName </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container> -->

      <!-- lastName Column -->
      <!-- <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> LastName </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container> -->

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- phoneNumber Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
      </ng-container>

      <!-- dob Column -->
      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
        <td mat-cell *matCellDef="let element"> {{element.dob | date : 'longDate'}} </td>
      </ng-container>

      <!-- address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <!-- status Column -->
      <!-- <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container> -->

      <!-- batch Column -->
      <ng-container matColumnDef="batch">
        <th mat-header-cell *matHeaderCellDef> batch </th>
        <td mat-cell *matCellDef="let element"> {{element.batch.batch}} </td>
      </ng-container>

      <!-- course Column -->
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef> course </th>
        <td mat-cell *matCellDef="let element"> {{element.course.course}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="updateStudent(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="deleteStudent(element._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>
</div>