h1{
  color: #f1f1f1;
  padding-top: 20px;
}

.page__box {
  min-height: 70px;
  background: #064bd7;
  font-size: 42px;
}

.main-body{
  padding-top: 20px;
  margin: 20px;
}
mat-form-field{
  width: 100%;
}
