.page {
  color: black; /* Change text color to black */
  padding: 0 2rem; /* Increase padding */
  background: #e6f7ff; /* Change background color */
}

.page__box {
  min-height: 150px; /* Increase min-height */
  background: #064bd7; /* Change box background color */
  font-size: 42px; /* Increase font size */  

}

.page__content {
  min-height: calc(100vh - 200px); /* Adjust min-height */
  border-radius: 15px; /* Increase border radius */
  background: #f1f1f1; /* Change content background color */
  color: darkslategray; /* Change text color */
  font-size: 2.5rem; /* Increase font size */
}

.page__content-data {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
