<mat-toolbar>
  <mat-toolbar-row class="justify-content-between" >
    <button mat-icon-button (click)="toggleSidebar()" ><mat-icon>menu</mat-icon></button>
    <div class="main">
      <h1>STUDENT MANAGEMENT SYSTEMS</h1>
    </div>
    <div>  
      <button mat-flat-button color="warn" (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</button>
      <!-- <ul>
        <li>
          <button mat-button [matMenuTriggerFor]="menu" class="user mt-2  d-flex align-item-center"> 
            <img src="../../assets/hc.jpg" class="user-image mr-1 p-2"/>
            User Name
            <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button>
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </mat-menu>
        </li>
      </ul> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
