

.content{
    padding-top: 10px;
}

.row{
    display: d-flex;

    mat-form-field{
        width: 100%;
    }
}
.main{
    overflow-y: hidden !important;
    
}
.action{
    padding: 0px 25px 20px;
    display: flex;
    button {
        flex: 1;
        max-width: 50%;
    }
}
.wid{
    width: 100% !important
}

