<div class="main">
    <div mat-dialog-title>
        <h1>Student Form</h1>
    </div>
    <form [formGroup]="Form" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <!--Firstname & Lastname-->
        <div class="row d-flex justify-content-around ">
            <mat-form-field appearance="outline" class="col ">
                <mat-label>First Name</mat-label>
                <input matInput type="text" placeholder="Ex. Virat" formControlName="firstName">
                <mat-error *ngIf="Form.get('firstName')!.hasError('required')">First Name is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" placeholder="Ex. kohli" formControlName="lastName">
                <mat-error *ngIf="Form.get('lastName')!.hasError('required')">Last Name is required</mat-error>
            </mat-form-field>
        </div>
        <!--Email-->
        <div class="row d-flex justify-content-around mt-2">
            <mat-form-field appearance="outline" class="col">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="example@gmail.com" formControlName="email">
                <mat-error *ngIf="Form.get('email')!.hasError('required')">Email is required</mat-error>
  <mat-error *ngIf="Form.get('email')!.hasError('email')">Invalid email format</mat-error>
            </mat-form-field>
        </div>
        <!--phone Number & DOB-->
        <div class="row d-flex justify-content-around ">
            <mat-form-field appearance="outline" class="col">
                <mat-label>Phone Number</mat-label>
                <input matInput type="text" placeholder="+123-456-7890" formControlName="phoneNumber">
                <mat-error *ngIf="Form.get('phoneNumber')!.hasError('required')">Phone Number is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="Form.get('dob')!.hasError('required')">Date of Birth is required</mat-error>
            </mat-form-field>
        </div>
        <!--Address-->
        <div class="row d-flex justify-content-around ">
            <mat-form-field appearance="outline" class="col">
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="address"></textarea>
                <mat-error *ngIf="Form.get('address')!.hasError('required')">Address is required</mat-error>
            </mat-form-field>
        </div>
        <!--Status & batches-->
        <div class="row d-flex justify-content-around ">
            <!-- <mat-form-field appearance="outline" class="col">
                <mat-label>Status of Student</mat-label>
                <mat-select  formControlName="status">
                    <mat-option value="one">1</mat-option>
                    <mat-option value="two">2</mat-option>
                    <mat-option value="three">3</mat-option>
                </mat-select>
            </mat-form-field> -->


            <mat-form-field appearance="outline" class="col">
                <mat-label>Student Batch</mat-label>
                <mat-select formControlName="batch">
                    <mat-option  *ngFor="let val of Batch" [value]="val._id">{{val.batch}}</mat-option>
                </mat-select>
                <mat-error *ngIf="Form.get('batch')!.hasError('required')">Batch is required</mat-error>
            </mat-form-field>  
        </div>
        <div class="row d-flex justify-content-around ">
            <mat-form-field appearance="outline" class="col">
                <mat-label>Course</mat-label>
                <mat-select formControlName="course">
                    <mat-option *ngFor="let val of Course" [value]="val._id">{{val.course}}</mat-option>
                </mat-select>
                <mat-error *ngIf="Form.get('course')!.hasError('required')">Course is required</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action row d-flex justify-content-around">
        <button mat-raised-button class="col wid" type="button" [mat-dialog-close]="false" >Cancel</button>
        <button mat-raised-button class="col wid" color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
    </div>
</form>
</div>