<mat-drawer-container>
    <mat-drawer class="sidenav"  [mode]="sideBarOpen ? 'side' : 'over'" [opened]="sideBarOpen">
        <app-side-navbar></app-side-navbar>
    </mat-drawer>
    <mat-drawer-content fxFlex >
        <app-header (toggleSidebarForMe)="sidebartoggle()"></app-header>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>